logging:
  level:
    root: WARN
    org:
      springframework:
        security: DEBUG

spring:
  jpa:
    generate-ddl: true
    show-sql: true
  output:
    ansi:
      enabled: always

rsa:
  private-key: classpath:certs/private.pem
  public-key: classpath:certs/public.pem

sentry:
  dsn: https://13a6bd37a9cf78ed2fdf2001b4161f99@o4510962873401344.ingest.de.sentry.io/4510962877988944
  send-default-pii: true