logging:
  level:
    root: WARN
    org:
      springframework:
        security: DEBUG

spring:
  jpa:
    generate-ddl: true
    show-sql: true
  output:
    ansi:
      enabled: always

rsa:
  private-key: classpath:certs/private.pem
  public-key: classpath:certs/public.pem

sentry:
  dsn: https://0b4b253407f7fe7614e0c17f037716d9@o4510962873401344.ingest.de.sentry.io/4510962878906448
  send-default-pii: true
  traces-sample-rate: 1.0